$color: #2d31fa;
p {
	padding: 10px;
}
.border {
	border-style: dotted;
	margin-bottom: 20px;
	border-color: $color;
	border-width: 3px;
}

.background {
	background-color: $color;
}

.color {
	color: $color;
}
